body {
    margin: 0;
    padding: 0;
}
  
#header {
    width: 100%;
    height: 70px;
    padding: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.header-row {
    height: 100%;
}

.header-img-container {
    width: 100%;
    height: 70px;
}
  
#header-img {
    height: 100%;
}
  
.nav-bar-container {
    height: 100%;
}
  
#nav-bar {
    height: 100%;
    padding-bottom: 10px;
}
  
#nav-bar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-link {
    color: #303030;
}

#subscribe-section {
    margin: 120px 0 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
#subscribe-section form {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#subscribe-section form label {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: lighter;
}
  
#subscribe-section button {
    margin-top: 20px;
    background-color: #ffbd29;
    color: #fff;
    font-weight: bold;
    width: 140px;
    font-size: 16px;
}

.subscribe button:hover, .btn-select:hover {
    background-color: #d8991d;
    color: #fff;
}

#features-section, #pricing-section {
    background-color: #eaeaea;
    margin: 0;
    width: 100%;
    padding-bottom: 40px;
}

.section-title {
    text-align: center;
    margin-top: 60px;
}

.feature {
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}
  
.feature-img {
    width: 100%;
    height: 100px;
    background-color: blue;
}
  
.feature-desc {
    width: 100%;
    height: 100px;
    background-color: red;
}
  
.video-container {
    width: 560px;
    margin: 40px auto;
}  

.pricing {
    padding: 0 80px;
}

.price-card {
    background-color: #fff;
    height: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    text-align: center;
}

.price-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pc-title {
    width: 90%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.pc-cost {
    font-size: 68px;
    padding: 10px 0;
}

.pc-list {
    font-size: 18px;
}

.pc-list li {
    line-height: 30px;
}

.btn-select {
    background-color: #ffbd29;
    color: #fff;
    font-weight: bold;
    width: 140px;
    font-size: 16px;
    margin: 20px 0 30px 0;
}

footer {
    color: #fff;
    height: 100px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links {
    width: 200px;
}

.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #ffbd29;
}

footer p {
    font-size: 12px;
    margin-top: 10px;
}

@media only screen and (max-width: 1100px) {
    .pricing {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 991px) {
    .price-card {
        width: 340px;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 470px) {
    .pricing {
        padding: 0 10px;
    }

    .price-card {
        width: 100%;
        margin: 20px auto;
    }
}